Introduce client registration with client management

# Registration [RFC](https://datatracker.ietf.org/doc/html/rfc7591)
## [1.3](https://datatracker.ietf.org/doc/html/rfc7591#section-1.3).  Protocol Flow

        +--------(A)- Initial Access Token (OPTIONAL)
        |
        |   +----(B)- Software Statement (OPTIONAL)
        |   |
        v   v
    +-----------+                                      +---------------+
    |           |--(C)- Client Registration Request -->|    Client     |
    | Client or |                                      | Registration  |
    | Developer |<-(D)- Client Information Response ---|   Endpoint    |
    |           |        or Client Error Response      +---------------+
    +-----------+

 Figure 1: Abstract Dynamic Client Registration Flow

 The abstract OAuth 2.0 client dynamic registration flow illustrated
 in Figure 1 describes the interaction between the client or developer
 and the endpoint defined in this specification.  This figure does not
 demonstrate error conditions.  This flow includes the following
 steps:

(A)   Optionally, the client or developer is issued an initial access
     token giving access to the client registration endpoint.  The
     method by which the initial access token is issued to the
     client or developer is out of scope for this specification.

(B)   Optionally, the client or developer is issued a software
     statement for use with the client registration endpoint.  The
     method by which the software statement is issued to the client
     or developer is out of scope for this specification.

(C)   The client or developer calls the client registration endpoint
     with the client's desired registration metadata, optionally
     including the initial access token from (A) if one is required
     by the authorization server.

(D)   The authorization server registers the client and returns:
-  the client's registered metadata,

-  a client identifier that is unique at the server, and

-  a set of client credentials such as a client secret, if
  applicable for this client.

## [2](https://datatracker.ietf.org/doc/html/rfc7591#section-2).  Client Metadata

 Registered clients have a set of metadata values associated with
 their client identifier at an authorization server, such as the list
 of valid redirection URIs or a display name.

 These client metadata values are used in two ways:

 o  as input values to registration requests, and

 o  as output values in registration responses.

 The following client metadata fields are defined by this
 specification.  The implementation and use of all client metadata
 fields is OPTIONAL, unless stated otherwise.  All data member types
 (strings, arrays, numbers) are defined in terms of their JSON
 [[RFC7159](https://datatracker.ietf.org/doc/html/rfc7159)] representations.

redirect_uris
  Array of redirection URI strings for use in redirect-based flows
  such as the authorization code and implicit flows.  As required by
  [Section 2](https://datatracker.ietf.org/doc/html/rfc7591#section-2) of OAuth 2.0 [[RFC6749](https://datatracker.ietf.org/doc/html/rfc6749)], clients using flows with
  redirection MUST register their redirection URI values.
  Authorization servers that support dynamic registration for
  redirect-based flows MUST implement support for this metadata
  value.

token_endpoint_auth_method
  String indicator of the requested authentication method for the
  token endpoint.  Values defined by this specification are:
  
  - "none": The client is a public client as defined in OAuth 2.0,
     [Section 2.1](https://datatracker.ietf.org/doc/html/rfc7591#section-2.1), and does not have a client secret.
  
  -  "client_secret_post": The client uses the HTTP POST parameters
     as defined in OAuth 2.0, [Section 2.3.1](https://datatracker.ietf.org/doc/html/rfc7591#section-2.3.1).
  
  -  "client_secret_basic": The client uses HTTP Basic as defined in
     OAuth 2.0, [Section 2.3.1](https://datatracker.ietf.org/doc/html/rfc7591#section-2.3.1).
  
  Additional values can be defined via the IANA "OAuth Token
  Endpoint Authentication Methods" registry established in
  [Section 4.2](https://datatracker.ietf.org/doc/html/rfc7591#section-4.2).  Absolute URIs can also be used as values for this
  parameter without being registered.  If unspecified or omitted,
  the default is "client_secret_basic", denoting the HTTP Basic
  authentication scheme as specified in [Section 2.3.1](https://datatracker.ietf.org/doc/html/rfc7591#section-2.3.1) of OAuth 2.0.

grant_types
  Array of OAuth 2.0 grant type strings that the client can use at
  the token endpoint.  These grant types are defined as follows:
  
  -  "authorization_code": The authorization code grant type defined
     in OAuth 2.0, [Section 4.1](https://datatracker.ietf.org/doc/html/rfc7591#section-4.1).
  
  -  "implicit": The implicit grant type defined in OAuth 2.0,
     [Section 4.2](https://datatracker.ietf.org/doc/html/rfc7591#section-4.2).
  
  -  "password": The resource owner password credentials grant type
     defined in OAuth 2.0, [Section 4.3](https://datatracker.ietf.org/doc/html/rfc7591#section-4.3).
  
  -  "client_credentials": The client credentials grant type defined
     in OAuth 2.0, [Section 4.4](https://datatracker.ietf.org/doc/html/rfc7591#section-4.4).
  
  -  "refresh_token": The refresh token grant type defined in OAuth
     2.0, [Section 6](https://datatracker.ietf.org/doc/html/rfc7591#section-6).
  
  -  "urn:ietf:params:oauth:grant-type:jwt-bearer": The JWT Bearer
     Token Grant Type defined in OAuth JWT Bearer Token Profiles
     [[RFC7523](https://datatracker.ietf.org/doc/html/rfc7523)].
  
  - "urn:ietf:params:oauth:grant-type:saml2-bearer": The SAML 2.0
     Bearer Assertion Grant defined in OAuth SAML 2 Bearer Token
     Profiles [[RFC7522](https://datatracker.ietf.org/doc/html/rfc7522)].
  
  If the token endpoint is used in the grant type, the value of this
  parameter MUST be the same as the value of the "grant_type"
  parameter passed to the token endpoint defined in the grant type
  definition.  Authorization servers MAY allow for other values as
  defined in the grant type extension process described in OAuth
  2.0, [Section 4.5](https://datatracker.ietf.org/doc/html/rfc7591#section-4.5).  If omitted, the default behavior is that the
  client will use only the "authorization_code" Grant Type.
  
response_types
  Array of the OAuth 2.0 response type strings that the client can
  use at the authorization endpoint.  These response types are
  defined as follows:
  
  - "code": The authorization code response type defined in OAuth
     2.0, [Section 4.1](https://datatracker.ietf.org/doc/html/rfc7591#section-4.1).
  
  -  "token": The implicit response type defined in OAuth 2.0,
     [Section 4.2](https://datatracker.ietf.org/doc/html/rfc7591#section-4.2).
  
  If the authorization endpoint is used by the grant type, the value
  of this parameter MUST be the same as the value of the
  "response_type" parameter passed to the authorization endpoint
  defined in the grant type definition.  Authorization servers MAY
  allow for other values as defined in the grant type extension
  process is described in OAuth 2.0, [Section 4.5](https://datatracker.ietf.org/doc/html/rfc7591#section-4.5).  If omitted, the
  default is that the client will use only the "code" response type.
  
client_name
  Human-readable string name of the client to be presented to the
  end-user during authorization.  If omitted, the authorization
  server MAY display the raw "client_id" value to the end-user
  instead.  It is RECOMMENDED that clients always send this field.
  The value of this field MAY be internationalized, as described in
  [Section 2.2](https://datatracker.ietf.org/doc/html/rfc7591#section-2.2).

client_uri
  URL string of a web page providing information about the client.
  If present, the server SHOULD display this URL to the end-user in
  a clickable fashion.  It is RECOMMENDED that clients always send
  this field.  The value of this field MUST point to a valid web
  page.  The value of this field MAY be internationalized, as
  described in [Section 2.2](https://datatracker.ietf.org/doc/html/rfc7591#section-2.2).

logo_uri
  URL string that references a logo for the client.  If present, the
  server SHOULD display this image to the end-user during approval.
  The value of this field MUST point to a valid image file.  The
  value of this field MAY be internationalized, as described in
  [Section 2.2](https://datatracker.ietf.org/doc/html/rfc7591#section-2.2).
  
scope
  String containing a space-separated list of scope values (as
  described in [Section 3.3](https://datatracker.ietf.org/doc/html/rfc7591#section-3.3) of OAuth 2.0 [[RFC6749](https://datatracker.ietf.org/doc/html/rfc6749)]) that the client
  can use when requesting access tokens.  The semantics of values in
  this list are service specific.  If omitted, an authorization
  server MAY register a client with a default set of scopes.

contacts
  Array of strings representing ways to contact people responsible
  for this client, typically email addresses.  The authorization
  server MAY make these contact addresses available to end-users for
  support requests for the client.  See [Section 6](https://datatracker.ietf.org/doc/html/rfc7591#section-6) for information on
  Privacy Considerations.
  
tos_uri
  URL string that points to a human-readable terms of service
  document for the client that describes a contractual relationship
  between the end-user and the client that the end-user accepts when
  authorizing the client.  The authorization server SHOULD display
  this URL to the end-user if it is provided.  The value of this
  field MUST point to a valid web page.  The value of this field MAY
  be internationalized, as described in [Section 2.2](https://datatracker.ietf.org/doc/html/rfc7591#section-2.2).
  
policy_uri
  URL string that points to a human-readable privacy policy document
  that describes how the deployment organization collects, uses,
  retains, and discloses personal data.  The authorization server
  SHOULD display this URL to the end-user if it is provided.  The
  value of this field MUST point to a valid web page.  The value of
  this field MAY be internationalized, as described in [Section 2.2](https://datatracker.ietf.org/doc/html/rfc7591#section-2.2).
  
jwks_uri
  URL string referencing the client's JSON Web Key (JWK) Set
  [[RFC7517](https://datatracker.ietf.org/doc/html/rfc7517)] document, which contains the client's public keys.  The
  value of this field MUST point to a valid JWK Set document.  These
  keys can be used by higher-level protocols that use signing or
  encryption.  For instance, these keys might be used by some
  applications for validating signed requests made to the token
  endpoint when using JWTs for client authentication [[RFC7523](https://datatracker.ietf.org/doc/html/rfc7523)].  Use
  of this parameter is preferred over the "jwks" parameter, as it
  allows for easier key rotation.  The "jwks_uri" and "jwks"
  parameters MUST NOT both be present in the same request or
  response.

 jwks
  Client's JSON Web Key Set [[RFC7517](https://datatracker.ietf.org/doc/html/rfc7517)] document value, which contains
  the client's public keys.  The value of this field MUST be a JSON
  object containing a valid JWK Set.  These keys can be used by
  higher-level protocols that use signing or encryption.  This
  parameter is intended to be used by clients that cannot use the
  "jwks_uri" parameter, such as native clients that cannot host
  public URLs.  The "jwks_uri" and "jwks" parameters MUST NOT both
  be present in the same request or response.
  
software_id
  A unique identifier string (e.g., a Universally Unique Identifier
  (UUID)) assigned by the client developer or software publisher
  used by registration endpoints to identify the client software to
  be dynamically registered.  Unlike "client_id", which is issued by
  the authorization server and SHOULD vary between instances, the
  "software_id" SHOULD remain the same for all instances of the
  client software.  The "software_id" SHOULD remain the same across
  multiple updates or versions of the same piece of software.  The
  value of this field is not intended to be human readable and is
  usually opaque to the client and authorization server.
  
software_version
  A version identifier string for the client software identified by
  "software_id".  The value of the "software_version" SHOULD change
  on any update to the client software identified by the same
  "software_id".  The value of this field is intended to be compared
  using string equality matching and no other comparison semantics
  are defined by this specification.  The value of this field is
  outside the scope of this specification, but it is not intended to
  be human readable and is usually opaque to the client and
  authorization server.  The definition of what constitutes an
  update to client software that would trigger a change to this
  value is specific to the software itself and is outside the scope
  of this specification.


[RFC for management](https://datatracker.ietf.org/doc/html/rfc7592)